body{
    margin: 0;
    padding: 0;
    font-family: Montserrat,sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
html{
    scroll-behavior: smooth;
}
.menu{
    backdrop-filter: blur(25px);
    display: flex;
    align-items: center;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.979);
    box-shadow: 0px 0px 14px -6px rgba(0,0,0,1);
-webkit-box-shadow: 0px 0px 14px -6px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 14px -6px rgba(0,0,0,1);
    width: 100%;
    height: 70px;
    padding: 0;
    margin: 0;
}
.ul-menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
.items-menu{
    margin-left:10px;
    margin-right:10px;
    color: black;
    text-decoration: none;
}
.items-menu:hover{
    text-decoration: underline;
    color: #3b99e0;
}
.title-menu{
    margin-left: 10%;
    width: 50%;
    font-size: 1.50em;
    font-family: Arial Black, serif;
}
.sreach-container{
    padding:5px;
    border: 1px solid #ddd;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.champ{
    border:none;
    background-color: white;
    height: 100%;
}
.champ:focus {
    outline: none;
}
.button:focus {
    outline: none;
}
.grille {
    margin-top: 80px;
    margin-bottom: 20px;
    max-width: 1300px;
    width: 100%;
    height: auto;
    /* border: 1px solid #333; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    justify-content: center;
    grid-gap: 3px;
}
.grid-item {
    width: 320px;
    height: 200px;
    background: rgb(95, 1, 124);
    /*height: auto;*/
    object-fit: cover;
}

@media (max-width: 981px) 
{
    .sreach-container{
        display: none;
    }

    .title-menu{
        margin-left: 8%;
        width: 80%;
        font-size: 1.50em;
        font-family: Arial Black, serif;
    }
}

@media (max-width: 751px) 
{
    .sreach-container{
        display: none;
    }

    .title-menu{
        margin-left: 2%;
        width: 100%;
        font-size: 1.50em;
        font-family: Arial Black, serif;
    }
}

@media (max-width: 629px) 
{
    .sreach-container{
        display: none;
    }

    .title-menu{
        margin-left: 2%;
        width: 100%;
        font-size: 1.10em;
        font-family: Arial Black, serif;
    }
}

@media (max-width: 505px) 
{
    .title-menu{
        width: 100%;
        font-size: 1.10em;
        font-family: Arial Black, serif;
    }

    .ul-menu{
        display: flex;
        list-style: none;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        margin-left: -10%;
    }
    .items-menu{
        margin-left:10px;
        margin-right:10px;
        font-size: 0.80em;
        color: black;
        text-decoration: none;
    }
    .items-menu:hover{
        text-decoration: underline;
        color: #3b99e0;
    }
}

@media (max-width: 821px) 
{
    .fond-img{
        margin-top: 70px;
        z-index: 2;
        background-image: url(../img/back/flou.png);
        height:100%;
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .blocs{
        width:100%;
        margin-top: 10%;
        margin-bottom: 30%;
        background-color: rgba(10, 10, 10, 0.178);
        padding: 20px;
        border-radius: 10px;
    }
}