body{
    margin: 0;
    padding: 0;
    font-family: Montserrat,sans-serif;
    height: 100%;
}
*{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.fond-img{
    z-index: 2;
    background-image: url(../img/back/flou.png);
    height:100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.content{
    height: 100%;
}
.container-title{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.514);
}
.blocs{
    width:50%;
    margin-top: 10%;
    margin-bottom: 20%;
    background-color: rgba(10, 10, 10, 0.178);
    padding: 20px;
    border-radius: 10px;
}
.title{
    color: white;
    font-size: 2.35em;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.soustitle{
    font-size: 1.35em;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}
.fond-blanc{
    z-index: 4;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.title-blanc{
    color: #6c2be4;
    font-size: 2.35em;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.margin-blanc{
    width: 100%;
    height: 20%;
}
.margin-blanc2{
    width: 100%;
    height: 35%;
}
#contact{
    width: 100%;
    height: 15%;
}
.soustitle{
    font-size: 1.35em;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}
.soustitle-blanc{
    color: rgb(180, 180, 180);
    margin-top: 1%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.items-title{
    font-family: Arial Black, serif;
    font-size: 1.10em;
}
.items-fifa{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 100px;
    width: 260px;
    background-color: #6c2be4;
    border-radius: 5px;

    background-image: url(../img/jeuxcover/fifa-22.jpg);
    background-position: center;
    background-size: cover;
}
.items-gta{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 100px;
    width: 260px;
    background-color: #6c2be4;
    border-radius: 5px;

    background-image: url(../img/jeuxcover/GTA-V.jpg);
    background-position: center;
    background-size: cover;
}
.items-minecraft{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 100px;
    width: 260px;
    background-color: #6c2be4;
    border-radius: 5px;

    background-image: url(../img/jeuxcover/minecraft.jpg);
    background-position: flex-start;
    background-size: cover;
}
.mini{
    font-size: 0.60em;
    color: rgb(240, 240, 240);
}
.items-farcry{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 100px;
    width: 260px;
    background-color: #6c2be4;
    border-radius: 5px;

    background-image: url(../img/jeuxcover/farcry.png);
    background-position: flex-start;
    /* flexstart exeptionnel */
    /*background-position: center;*/
    background-size: cover;
}
.fond-items{
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: rgba(0, 0, 0, 0.822);*/
    background-color: #1a0c35b6;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    opacity: 0;
}
.fond-items:hover{
    opacity: 1;
    cursor: pointer;
}
.container-items{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.button-discord{
    border: none;
    border-radius: 2px;
    background-color: rgb(26, 26, 26);
    color: white;
    padding: 10px;
    cursor: pointer;
}
.button-voir{
    border: none;
    border-radius: 2px;
    background-color: rgb(26, 26, 26);
    color: white;
    padding: 10px;
    cursor: pointer;
}
.center-button{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    height: 430px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;

    box-shadow: 0px 0px 14px -6px rgba(0,0,0,1);
-webkit-box-shadow: 0px 0px 14px -6px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 14px -6px rgba(0,0,0,1);
}
.img-cards{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.bannier{
    opacity: 0.90;
    border: 1px solid #ddd;
    z-index: 3;
    position: absolute;
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -0%);
    border-radius: 5px 5px 0px 0px;
}
.pseudo-cards{
    margin-top: 25px;
    font-size: 1.30em;
}
.status-cards{
    margin-top: 5px;
    color: rgb(46, 46, 46);
}
.container-cards{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.menu{
    backdrop-filter: blur(25px);
    display: flex;
    align-items: center;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.979);
    box-shadow: 0px 0px 14px -6px rgba(0,0,0,1);
-webkit-box-shadow: 0px 0px 14px -6px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 14px -6px rgba(0,0,0,1);
    width: 100%;
    height: 70px;
    padding: 0;
    margin: 0;
}
.ul-menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
.items-menu{
    margin-left:10px;
    margin-right:10px;
    color: black;
    text-decoration: none;
}
.items-menu:hover{
    text-decoration: underline;
    color: #6c2be4;
}
.title-menu{
    margin-left: 10%;
    width: 50%;
    font-size: 1.50em;
    font-family: Arial Black, serif;
}
.title-menu-2{
    display: none;
    margin-left: 10%;
    width: 50%;
    font-size: 1.50em;
    font-family: Arial Black, serif;
}
.sreach-container{
    padding:5px;
    border: 1px solid #ddd;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.champ{
    border:none;
    background-color: white;
    height: 100%;
}
.champ:focus {
    outline: none;
}
.button:focus {
    outline: none;
}
.button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding:0px 10px;
}
.footer{
    color: white;
    width: 100%;
    height: 30vh;
    background-color: rgb(29, 29, 29);
}
.footer-copyr{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(165, 165, 165);
    width: 100%;
    height: 8vh;
    background-color: rgb(61, 61, 61);
}
.container-footer-elements1{
    width: 140px;
    margin-top: 50px;
    margin-left: 50px;
}
.color-span-footer{
    color: #6c2be4;
    margin-right: 5px;
}
.items-footer{
    color: rgb(214, 214, 214);
    margin-bottom: 5px;
    text-decoration: none;
}
.title-footer{
    font-family: Arial Black, serif;
    margin-bottom: 10px;
}
.footer{
    display: flex;
}
@media (max-width: 981px) 
{
    .sreach-container{
        display: none;
    }

    .title-menu{
        margin-left: 8%;
        width: 80%;
        font-size: 1.50em;
        font-family: Arial Black, serif;
    }
}

@media (max-width: 751px) 
{
    .title-menu{
        margin-left: 2%;
        width: 100%;
        font-size: 1.50em;
        font-family: Arial Black, serif;
    }
}

@media (max-width: 629px) 
{
    .title-menu{
        margin-left: 2%;
        width: 100%;
        font-size: 1.10em;
        font-family: Arial Black, serif;
    }
    .items-menu{
        margin-left:10px;
        margin-right:10px;
        font-size: 0.90em;
        color: black;
        text-decoration: none;
    }
}

@media (max-width: 525px) 
{
    .title-menu{
        width: 100%;
        font-size: 1em;
        font-family: Arial Black, serif;
    }

    .ul-menu{
        display: flex;
        list-style: none;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        margin-left: -10%;
    }
    .items-menu{
        margin-left:10px;
        margin-right:10px;
        font-size: 0.80em;
        color: black;
        text-decoration: none;
    }
    .items-menu:hover{
        text-decoration: underline;
        color: #6c2be4;
    }
}

@media (max-width: 433px) 
{
    .ul-menu{
        display: flex;
        list-style: none;
        justify-content: space-around;
        width: 60%;
        align-items: center;
        margin-left: -10%;
    }
    .title-menu{
        width: 100%;
        font-size: 0.80em;
        font-family: Arial Black, serif;
    }
}

@media (max-width: 396px) 
{
    .ul-menu{
        display: flex;
        list-style: none;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        margin-left: -10%;
    }
    .title-menu{
        display: none;
    }
    .title-menu-2{
        display: unset;
        display: block;
        margin-left: 5%;
        width: 100%;
    }
}

@media (max-width: 821px) 
{
    .fond-img{
        margin-top: 70px;
        z-index: 2;
        background-image: url(../img/back/flou.png);
        height:100%;
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .blocs{
        width:100%;
        margin-top: 10%;
        margin-bottom: 30%;
        background-color: rgba(10, 10, 10, 0.178);
        padding: 20px;
        border-radius: 10px;
    }
}