body{
    margin: 0;
    padding: 0;
    font-family: Montserrat,sans-serif;
    height: 100%;

}
.fond-img{
    z-index: 2;
    background-image: url(../img/back/flou.png);
    height:100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.content{
    height: 100%;
}
.container-title{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}
.blocs{
    width:50%;
    margin-top: 10%;
    margin-bottom: 20%;
    background-color: rgba(10, 10, 10, 0.178);
    padding: 20px;
    border-radius: 10px;
}
.title{
    color: white;
    font-size: 2.35em;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.soustitle{
    font-size: 1.35em;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}
.fond-blanc{
    z-index: 4;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.title-blanc{
    color: #3b99e0;
    font-size: 2.35em;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.margin-blanc{
    width: 100%;
    height: 20%;
}
.margin-blanc2{
    width: 100%;
    height: 45%;
}
.soustitle{
    font-size: 1.35em;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}
.soustitle-blanc{
    color: rgb(180, 180, 180);
    margin-top: 1%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.items-title{
    font-family: Arial Black, serif;
    font-size: 1.10em;
}
.items-lien{
    color: #3b99e0;
    text-decoration: none;
    width: 170px;
}
.items-lien:hover{
    color: #3b99e0;
    text-decoration: underline;
}
.items{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 100px;
    width: 260px;
}
.container-items{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.button-discord{
    border: none;
    border-radius: 2px;
    background-color: rgb(26, 26, 26);
    color: white;
    padding: 10px;
}
.center-button{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    height: 430px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;

    box-shadow: 0px 0px 14px -6px rgba(0,0,0,1);
-webkit-box-shadow: 0px 0px 14px -6px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 14px -6px rgba(0,0,0,1);
}
.img-cards{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.bannier{
    opacity: 0.90;
    border: 1px solid #ddd;
    z-index: 3;
    position: absolute;
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -0%);
    border-radius: 5px 5px 0px 0px;
}
.pseudo-cards{
    margin-top: 25px;
    font-size: 1.30em;
}
.status-cards{
    margin-top: 5px;
    color: rgb(46, 46, 46);
}
.container-cards{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}