body{
    margin: 0;
    padding: 0;
    font-family: Montserrat,sans-serif;
    height: 100%;
    background-color: rgb(24, 24, 24);
    color: white;
}
html{
    scroll-behavior: smooth;
}
.content{
    margin: 0;
    height: 100%;
}
.container-title{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.514);
}
.title{
    color: white;
    font-size: 2.35em;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.soustitle{
    font-size: 1.35em;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}
.fond-blanc{
    z-index: 4;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.title-blanc{
    color: #6c2be4;
    font-size: 2.35em;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.margin-blanc{
    width: 100%;
    height: 20%;
}
.margin-blanc2{
    width: 100%;
    height: 35%;
}
.menu{
    backdrop-filter: blur(25px);
    display: flex;
    align-items: center;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.979);
    box-shadow: 0px 0px 14px -6px rgba(0,0,0,1);
-webkit-box-shadow: 0px 0px 14px -6px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 14px -6px rgba(0,0,0,1);
    width: 100%;
    height: 70px;
    padding: 0;
    margin: 0;
    z-index: 1;
}
.ul-menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
.items-menu{
    margin-left:10px;
    margin-right:10px;
    color: white;
    text-decoration: none;
}
.items-menu:hover{
    text-decoration: underline;
    color: #6c2be4;
}
.title-menu{
    margin-left: 10%;
    width: 50%;
    font-size: 1.50em;
    font-family: Arial Black, serif;
}
.title-menu-2{
    display: none;
    width: 50%;
    font-size: 1.50em;
    font-family: Arial Black, serif;
}
.blocs-menu{
    margin-left: 20%;
}
.sreach-container{
    padding:5px;
    border: 1px solid #ddd;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.champ{
    border:none;
    background-color: white;
    height: 100%;
}
.champ:focus {
    outline: none;
}
.button:focus {
    outline: none;
}
.line{
    height: 380px;
    width: 1px;
    background-color: #510a5a;
}
.conatiner-hist{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;
}
.histoire{
    margin-left: 2%;
    margin-right: 5%;
}
.title-jeux{
    margin-left: 5%;
    margin-top: 10%;
}
.conatainer-info{
    margin-top: 5%;
    margin-bottom: 5%;
}
.footer{
    color: white;
    width: 100%;
    height: 30vh;
    background-color: rgb(29, 29, 29);
}
.footer-copyr{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(165, 165, 165);
    width: 100%;
    height: 8vh;
    background-color: rgb(61, 61, 61);
}
.container-footer-elements1{
    width: 140px;
    margin-top: 50px;
    margin-left: 50px;
}
.color-span-footer{
    color: #6c2be4;
    margin-right: 1px;
}
.items-footer{
    color: rgb(214, 214, 214);
    margin-bottom: 5px;
    text-decoration: none;
}
.title-footer{
    font-family: Arial Black, serif;
    margin-bottom: 10px;
}
.footer{
    display: flex;
}
.button-download{
    background-color: rgba(67, 8, 206, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 140px;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 10%;
}
.center-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}
.button-download:hover{
    background-color: rgba(67, 8, 206, 0.123);
}
.lien{
    color: #170a30;
    text-decoration: none;
}
.lien:hover{
    cursor: zoom-in;
    color: #6c2be4;
}
.title-histoire{
    font-family: Arial Black, serif;
    color: #6c2be4;
}
.iframes{
    width:100%;
    height:405px;
    border-radius: 5px;
}
.container-max{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}
.title-config{
    margin-top: 10%;
}
@media (max-width: 577px) 
{
    .iframes{
        margin-bottom: 50px;
        width:350px;
        height:200px;
    }
}
@media (max-width: 371px) 
{
    .iframes{
        margin-bottom: 50px;
        width:300px;
        height:150px;
    }
}

@media (max-width: 981px) 
{
    .sreach-container{
        display: none;
    }

    .title-menu{
        margin-left: 8%;
        width: 80%;
        font-size: 1.50em;
        font-family: Arial Black, serif;
    }
}

@media (max-width: 751px) 
{
    .title-menu{
        margin-left: 2%;
        width: 100%;
        font-size: 1.50em;
        font-family: Arial Black, serif;
    }
}

@media (max-width: 629px) 
{
    .title-menu{
        margin-left: 2%;
        width: 100%;
        font-size: 1.10em;
        font-family: Arial Black, serif;
    }
    .items-menu{
        margin-left:10px;
        margin-right:10px;
        font-size: 0.90em;
        color: white;
        text-decoration: none;
    }
}

@media (max-width: 525px) 
{
    .title-menu{
        width: 100%;
        font-size: 1em;
        font-family: Arial Black, serif;
    }

    .ul-menu{
        display: flex;
        list-style: none;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        margin-left: -10%;
    }
    .items-menu{
        margin-left:10px;
        margin-right:10px;
        font-size: 0.80em;
        color: white;
        text-decoration: none;
    }
    .items-menu:hover{
        text-decoration: underline;
        color: #6c2be4;
    }
}

@media (max-width: 433px) 
{
    .ul-menu{
        display: flex;
        list-style: none;
        justify-content: space-around;
        width: 60%;
        align-items: center;
        margin-left: -10%;
    }
    .title-menu{
        width: 100%;
        font-size: 0.80em;
        font-family: Arial Black, serif;
    }
}

@media (max-width: 396px) 
{
    .ul-menu{
        display: flex;
        list-style: none;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        margin-left: -10%;
    }
    .title-menu{
        display: none;
    }
    .title-menu-2{
        display: unset;
        display: block;
        margin-left: 1%;
        width: 100%;
    }
}