.fond-img{
    margin-top: 4%;
    z-index: 2;
    background-image: url(../../img/jeuxcover/minecraft.jpg);
    height:100%;
    width: 100%;
    background-position: flex-start;
    background-size: cover;
}
.blocs{
    width:50%;
    margin-top: 10%;
    margin-bottom: 7%;
    background-color: rgba(10, 10, 10, 0.829);
    padding: 20px;
    border-radius: 10px;
}
.mini2{
    font-size: 0.50em;
    color: rgb(32, 32, 32);
}
@media (max-width: 821px) 
{
    .fond-img{
        margin-top: 70px;
        z-index: 2;
        background-image: url(../../img/jeuxcover/minecraft.jpg);
        height:100%;
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .blocs{
        width:100%;
        margin-top: 10%;
        margin-bottom: 30%;
        background-color: rgba(10, 10, 10, 0.829);
        padding: 20px;
        border-radius: 10px;
    }
}
